<!DOCTYPE html>
<html>
<title>User Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/abc/css/user.css">

<body>

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
 <h3 class="w3-bar-item">Travel Guide</h3>
  <a href="/admin/userList" class="w3-bar-item w3-button" >User List</a>
  <a href="/admin/allTouristSpot" class="w3-bar-item w3-button">Tourist Spots</a>
  <a href="/admin/adminProfile" class="w3-bar-item w3-button" >Profile</a>
  <a href="/logout" class="w3-bar-item w3-button">logout</a>
</div>

<div style="margin-left:15%; ">

<div class="w3-container"  align="center">
<div style="margin-top: 8%">
  <form method="post">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <input class="list-group-item" type="text" name="name" placeholder="Name...." >
        <input class="list-group-item" type="text" name="userName" placeholder="User Name...">
        <input class="list-group-item" type="text" name="email" placeholder="Email...">
        <input class="list-group-item" type="text" name="userType" placeholder="User type...">
        <input class="list-group-item" type="password" name="password" placeholder="Password....">
        <input class="list-group-item" type="file" name="image">
      </ul>
      <div class="card-body">
        <input class="btn btn-info" type="submit" name="submit" value="Confirm">
        <a href="/admin/userList" class="btn btn-dark">Back</a>

      </div>
    </div>
  </form>
</div>
</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>